<br>
<br>
<br>
<br>




<div class="container-fluid bg-1">
  <div class="container text-center">
       <h2>Who Am I?</h2>
 
  </div>
   <p>I'm Aravind Reddy Keesara. I've obtained my master's degree in computer science @ UNC-Charlotte. I'm actively seeking 
    Full-time opportunities for a full-stack/front-end/back-end developer role </p>
 
  <p>I like to develop applications on the concepts that I've learned. My motto is to find different ways to overcome obstacles
    during coding, learn from it and thereby to create a final end-product.
  </p>
</div>

<div class="container-fluid bg-2 text-center">
  <h2>What Am I?</h2>
  <p> AWS certified Developer - Associate. Web developer with one and half years experience.</p>
  <p> My Stack : DB- NoSQL(mongoDB,Firebase,Realm),MySQL | API- ExpressJS | front-end: Angular5,VueJS</p>
  <p> Design Architectures : MVC , Service-component(angular,Vue )</p>
  <p>Hosting : AWS, Google-cloud, Heroku</p>
</div>

<div class="container-fluid bg-3 text-center">
  <h2>Where To Find Me?</h2>
  <p> If your are a potential recruiter, u can contact me with the following information.</p>
<p> Linked-In Url- click to Go !</p>
<a href="https://www.linkedin.com/in/aravind-keesara/" class="btn btn-primary">My Linked-In</a>
<p> Email-id: aravind.keesara94@gmail.com</p>
</div>
