<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="">Home</a>
    </li>
    <li class="nav-item">
<a class="nav-link" routerLink="about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="modal" data-target="#myModal">Login</a>
    </li>
  </ul>
</nav>


<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content modal-lg">
     
      <!-- Modal body -->
      <div *ngIf="!loginStatus" class="modal-body">

              <div class="panel panel-login">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-6">
                      <a (click)="SignUpShow()" class="active" id="signUp-link">Signup</a>
                    </div>
                    <div class="col-6">
                      <a (click)="LoginShow()" id="userLogin-link">Log-In/out</a>
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">

                      <!-- form signup -->
                      <div class="container">
                          
                         <flash-messages></flash-messages>
                       

                        <div *ngIf="!emailid;else forminfo">
                          <form id ="signUp" [formGroup]="rForm" (ngSubmit)="addUser(rForm.value)">
                            <div class="form-group"> 
                            <input type="email" formControlName="emailid" tabindex="1" class="form-control" placeholder="email id" required>
                          </div>
                          <div class="alert alert-danger" *ngIf="!rForm.controls['emailid'].valid && rForm.controls['emailid'].touched">enter a valid email</div>

                          <div class="form-group">
                            <input type="password" formControlName="password" tabindex="1" class="form-control" placeholder="password" required>
                          </div>
                          <div class="alert alert-danger" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">minimum password length is 4 characters</div>

                          <div class="form-group">
									         <div class="row">
										    	   <div class="col-sm-6 col-sm-offset-3">
											    	  <button type = "submit" tabindex="4" class="form-control btn btn-signUp" [disabled]="!rForm.valid">Sign Up</button>
											       </div>
										      </div>
								      	</div> 
                        </form>       
                        </div> 
                        

                        <!-- form signup ends -->


                        <form id="userLogin" [formGroup]="rForm" (ngSubmit)="checkLogin(rForm.value)" role="form" style="display: none;">
                          <div class="form-group">
                           <input type="email" formControlName="emailid" tabindex="1" class="form-control" placeholder="email id" required>
                          </div>
                          <div class="alert alert-danger" *ngIf="!rForm.controls['emailid'].valid && rForm.controls['emailid'].touched">enter a valid email</div>
                          <div class="form-group">   
                            <input type="password" formControlName="password" tabindex="1" class="form-control" placeholder="password" required>
                          </div>
                          <div class="alert alert-danger" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">minimum password length is 4 characters</div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-sm-6 col-sm-offset-3">
                                 <button type = "submit" tabindex="4" class="form-control btn btn-userLogin" [disabled]="!rForm.valid">Login</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      </div>

<!-- checking -->

       <div *ngIf="loginStatus" class= "modal-body">
           <div class="panel panel-primary">
               <div class="panel-heading"><h2>Logged in as:</h2></div>
               <div class="panel-body">
                 <h2>{{userlogdata.userEmail}}</h2>
                </div>
               </div>
               <div class="panel-footer text-center">
                     <button (click)="logoutUser()"  type="button" class="btn btn-danger"><h2>Logout</h2></button>
               </div> 
        </div>

 <!-- checking -->

    </div>
  </div>
