<div class="flexsearch">
  <div class="flexsearch--wrapper">
    <form class="flexsearch--form" action="#" method="post">
      <div class="flexsearch--input-wrapper">
        <input #searchInput class="flexsearch--input" type="search" placeholder="search">

        <button (click)="SearchValue(searchInput.value)" type="submit" class="btn btn-success flexsearch--submit">
          <h4>Go!</h4>
        </button>
      </div>

    </form>
  </div>
</div>
<br>
<div *ngIf="searchLocation!='None'"  class="text-center">
  <h2>Location : {{searchLocation}}
    <button (click)="saveLocation()" [disabled]="!loginStatus" type="button" class="btn btn-info">
      <h3>save</h3>
    </button>
  </h2>
</div>
<div *ngIf="searchLocation=='None'" class="text-center">
  <h4>
    The weather data displayed below is a sample, please use the search bar above to enter location of your choice
  </h4>
<h4>
   I've built this website for development/ Learning purpose only. DO NOT use it as a standalone service, as requests to API's used are limited
</h4>
</div>


<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="weather-card one">
        <div class="top">
          <div class="wrapper">
            <div class="mynav">
              <div id="navleft" class="float-left">
                <img src="/assets/wind-sign.png">
                <span>{{(currdata?.windSpeed).toFixed(0)}}mph</span>
              </div>
              <div class="float-center">

                <img src="/assets/cloudycover.png">
                <span>{{(currdata?.cloudCover*100).toFixed(0)}}%</span>

              </div>
              <div class="float-right">
                <img src="/assets/humidity.png">
                <span>{{(currdata?.humidity*100).toFixed(0)}}%</span>
              </div>
            </div>

            <canvas id="curricon" class="currrenticon"></canvas>
            <p class="temp">
              <span class="temp-value">{{(currrentTemp).toFixed(0) }}</span>
              <span class="deg">0</span>
              <a href="javascript:;">
                <!-- <span class="temp-type">F</span> -->
                <span class="heading">{{currdata?.summary}}</span>
              </a>
            </p>

            <div class="mynav">
             
              <div class="float-center">
                Feels like
                <span>: {{currrentApptemp.toFixed(0)}}</span>
                <span class="deg">0</span>
              </div>
              

            </div>
          </div>
          <!-- bottom starts -->
          <div class="bottom">
            <div class="wrapper">

               <p href="javascript:;">
                  <span class=""><h4>{{summaryForWeek}}</h4></span>
               </p>
              <ul class="forecast">
                <li *ngFor="let dailystats of dailyData" class="active">
                  <span class="date">{{dailystats.time}}</span>

                  <img src="/assets/weathericons/{{dailystats.icon}}.png">
                  <span class="lnr">
                    <img src="/assets/up-arrow.png">
                    <span class="temp">{{dailystats?.temperatureHigh.toFixed(0)}}</span>
                    <span class="deg">0</span>
                    <img src="/assets/down-arrow.png">
                    <span class="temp">{{dailystats?.temperatureLow.toFixed(0)}}</span>
                    <span class="deg">0</span>
                  </span>

                </li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="col-3">
      <div class="weather-card one">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h2>Favorites</h2>
          </div>
          <div *ngIf="loginStatus">
            <div class="panel-body">
              <table class="table table-hover table-responsive-md">
                <tbody>
                  <tr *ngFor="let favcities of favcitiesDisplay ; index as i" #clickedLocationValue (click)="SearchValue(clickedLocationValue.innerText)">

                    <h4 style='word-wrap: break-word;padding-bottom:5px;'>{{favcities}}
                      <button (click)=" deleteFavs(i)" type="button" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                      </button>
                    </h4>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="panel-body" *ngIf="!loginStatus">
            <h3> please
              <strong>login</strong> to save Favorites</h3>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>

